h1{
	text-align: center;
}

table{
	margin:  auto;
}

td{
	/* content */
	width: 100px;
	height: 100px;
	
	text-align: center;
}


.R{
	border-right:solid 1px black;
}

.B{
	border-bottom:solid 1px black;
}
